{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container">
    <a href="{% url 'matrimony:new_profile' %}" class="btn btn-warning">Add Profile</a>
    <hr>
    <div class="row">
        {% for profile in profiles %}
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ profile.profile_pic.url }}" alt="Profile picture" width="300" height="400">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.name }}</h5>
                    <a href="{% url 'matrimony:profile_detail' profile.id %}" class="btn btn-primary">View Profile</a>
                </div>
            </div>
            <p></p>
        </div>


        {% endfor %}
    </div>
</div>
{% endblock %}


