
{% extends 'base.html' %}   
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ profile.profile_pic.url }}" class="card-img" alt="Profile picture">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ profile.name }}</h5>
                            <p class="card-text"><small class="text-muted">{{ profile.age }} years old</small></p>
                            <p class="card-text">{{ profile.bio }}</p>
                            <p class="card-text">
                                <strong>Occupation:</strong> {{ profile.occupation }}<br>
                                <strong>Date of Birth:</strong> {{ profile.birth_date }}<br>
                                <strong>Marital Status:</strong> {{ profile.is_married|yesno:"Married,Single" }}<br>
                                <strong>Email:</strong> {{ profile.email }}<br>
                                <strong>Hobbies:</strong> 
                                <ul>
                                    {% for hobby in profile.hobbies.all%}
                                    <li>{{ hobby.name }}<br></li>
                                    {% endfor %}
                                </ul>
                                <strong>Religion:</strong> {{ profile.religion }}<br>
                                <strong>Sect:</strong> {{ profile.sect }}<br>
                                <strong>Caste:</strong> {{ profile.caste }}<br>
                                <strong>Father's Name:</strong> {{ profile.father.name }}<br>
                                <strong>Father's Occupation:</strong> {{ profile.father.occupation }}<br>
                            </p>
                            <a href="{% url 'matrimony:profile_list' %}" class="btn btn-primary">Back</a>
                            <a href="{% url 'matrimony:profile_delete' profile.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

